
<h1>HAAYYYYYYYYYY</h1>


<%@list.each do |question|%>
<li><a href="/question/<%=question.id%>"><%=question.title%></a></li>
<%end%>


<br>
<a href="/question/new">would you like to add  new question?</a>

<br>
<a href="/login">login</a>
